.reset {
    width: 60px;
    height: 25px;
    color: white;
    font-size: 16px;
    border: 1px solid var(--third-color);
    background-color: var(--main-color);
    position: absolute;
    right: 41.5vw;
    bottom: 20vh;
    cursor: pointer;
}

@media (min-width: 769px) {
    .reset {
        bottom: 10vh;
        right: 46.5vw;
        font-size: 20px;
        width: 110px;
    }
}