@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.telaVitoria {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
}

.visivel {
    display: flex;
}

.linkVitoria {
    width: 60%;
    background-color: white;
    border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sair {
    font-size: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}
.sair:hover {
    background-color: red;
}
.texto-da-vitoria {
    color: green;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 769px) {
    .linkVitoria {
        width: 70%;
        height: 30%;
        border-radius: 10px;
    }


}