body,
header,
footer,
main,
section,
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #4E69C1;
}

header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8D8F7;
    color: #294987;
}

main {
    width: 320px;
    height: 80vh;
    margin: auto;
    background-color: #D6DEED;
    position: relative;
}

#vezJogador {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#grade {
    width: 280px;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna {
    width: 40px;
    height: 240px;
    margin: auto;
}

.celda {
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid #294987;
    display: flex;
    justify-content: center;
    align-items: center;
}

#datos {
    width: 100%;
    height: 30%;
}

.disco-jogador {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.disco-maquina {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.popup-comecarJogo___botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 220px;
    padding: 10px;
    z-index: 2;
}

.popup-comecarJogo___botoes button {
    margin-top: 10px;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.479);
}

.popup-comecarJogo___botoes button:hover {
    background-color: rgba(0, 0, 0, 0.315);
}

.popup-comecarJogo___botoes button:active {
    background-color: white;
    border: 2px solid black;
}

.popup-comecarJogo___botoes input {
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.247);
}

.popup-comecarJogo {
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.082);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.disco-jogador {
    animation: go-back 1s alternate;
}

.disco-maquina {
    animation: go-back 1s alternate;
}

@keyframes go-back {
    from {
        transform: translateY(-320px);
    }
    to {
        transform: translateY(0);
    }
}

footer {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8D8F7;
    color: #294987;
}

@media (min-width: 769px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    main {
        width: 80%;
    }
    #vezJogador {
        height: 15%;
    }
    #grade {
        width: 560px;
        height: 70%;
    }
    #datos {
        height: 15%;
    }
    .coluna {
        width: 80px;
        height: 480px;
    }
    .celda {
        width: 80px;
        height: 80px;
    }
    .disco-jogador {
        width: 70px;
        height: 70px;
    }
    .disco-maquina {
        width: 70px;
        height: 70px;
    }
}